@import "../../responsive.scss";
.card {
  width: 100%;
  display: flex;
  //   margin-top: 40px;

  .imageContainer {
    flex: 2;
    height: 200px;
    @include md {
      display: none;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
  .textContainer {
    flex: 3;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include md {
      gap: 20px;
    }
    h1 {
      font-size: 24px;
      font-weight: 600;
    }
    .adress {
      display: flex;
      align-items: center;
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 5px;
      color: #888;

      img {
        width: 20px;
        height: 20px;
      }
    }
    .title {
      font-size: 20px;
      font-weight: 600;
      color: #444;
      transition: all 0.4s ease;

      &:hover {
        color: #000;
        scale: 1.01;
      }
    }
    .price {
      font-size: 20px;
      font-weight: 300;
      padding: 5px;
      border-radius: 5px;
      background-color: rgba(254, 205, 81, 0.438);
      width: max-content;
    }
    .bottom {
      display: flex;
      justify-content: space-between;

      .right {
        display: flex;

        gap: 10px;
        .item {
          display: flex;
          align-items: center;
          gap: 4px;
          padding: 3px;
          background-color: whitesmoke;
          p {
            font-size: 14px;
            font-weight: bold;
          }
          border-radius: 5px;
          img {
            width: 15px;
            height: 15px;
          }
        }
      }
      .left {
        display: flex;
        gap: 15px;
        button {
          display: flex;
          align-items: center;
          border: none;
          background-color: transparent;
          background-color: whitesmoke;
          padding: 5px;
          border-radius: 5px;
          img {
            width: 15px;
            height: 15px;
          }
          &:hover {
            background-color: lightgray;
          }
        }
      }
    }
  }
}
