.chat {
  width: 100%;
  height: 100%;
  //   background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  //   justify-content: space-between;
  //   .message {
  //     display: flex;
  //     img {
  //       width: 30px;
  //       height: 30px;
  //       border-radius: 50%;
  //       object-fit: cover;
  //     }
  //   }
  .messages {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
    scrollbar-width: thin;
    height: 90%;
    .message {
      background-color: white;
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 10px;
      border-radius: 20px;
      span {
        font-weight: 600;
        font-size: 14px;
      }
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
  .chatbox {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .top {
      display: flex;
      padding: 10px 20px;
      justify-content: space-between;
      background-color: #fece51;

      .left {
        display: flex;
        align-items: center;
        gap: 20px;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .right {
        display: flex;
        align-items: center;

        img {
          width: 20px;
          height: 20px;
          object-fit: cover;
        }
      }
    }

    .center {
      height: 350px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      overflow-y: auto;
      scrollbar-width: thin;
      padding: 15px;
      .chatMessage {
        width: 50%;
        &.own {
          align-self: flex-end;
          text-align: right;
        }
        span {
          font-size: 12px;
          background-color: #f7c14b39;
          padding: 2px;
          border-radius: 5px;
        }
      }
    }

    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .msg {
        flex: 1;
        display: flex;

        input {
          flex: 1;
          padding: 16px;
          font-size: 16px;
          border: none;
        }
      }

      .send {
        button {
          border: none;
          padding: 16px 28px;
          background-color: #fece51;
        }
      }
    }
  }
}
