@import "../../responsive.scss";
.profile {
  display: flex;
  height: 100%;
  // width: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  // gap: 10px;
  @include md {
    flex-direction: column;
  }
  .leftContainer {
    flex: 3;

    .wrapper {
      padding-right: 30px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 100%;

      overflow-y: auto;
      scrollbar-width: thin;
      @include md {
        overflow-y: none;
      }
      .list {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      .row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          padding: 12px 24px;
          @include sm {
            padding: 10px 10px;
            font-size: 14px;
          }
        }
        .button {
          background-color: #fece51;
          // width: fit-content;
        }
      }
      .center {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .logout{
          a {
            width: fit-content;
            padding: 8px 18px;
            border-radius: 20px;
            @include sm {
              padding: 10px 10px;
              font-size: 14px;
            }
          }
          .button {
            color: white;
            background-color: red;
          }
        }
      
        .detail {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 20px;
          p {
            display: flex;
            align-items: center;
            gap: 10px;
            span {
              font-weight: 600;
            }
          }
          img {
            width: 30px;
            height: 30px;
            object-fit: cover;
            border-radius: 50%;
          }
        }
      }
    }
  }
  .rightContainer {
    flex: 2;
    background-color: #fcf5f3;
    height: 100%;
    // width: 97%;
    // padding-right: 40px;
    @include md {
      flex: none;
      height: max-content;
    }
    .wrapper {
      // background-color: #fcf5f3;
      padding: 0px 20px;
      @include md {
        margin-top: 20px;
        // width: 100%;
        // width: fit-content;
      }
      height: 100%;
    }
  }
}
