@import "../../responsive.scss";
nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    transition: all 0.4s;
    @include sm {
      display: none;
    }
    @include sm {
      display: none;
    }
    &:hover {
      scale: 1.05;
    }
  }

  .left {
    flex: 3;
    display: flex;
    align-items: center;
    gap: 50px;
    .logo {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 20px;
      font-weight: bold;
      img {
        width: 75px;
        height: 75px;
        object-fit: contain;
      }
      span {
        @include md {
          display: none;
        }
        @include sm {
          display: initial;
        }
      }
    }
  }
  .right {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #fcf5f3;
    height: 100%;
    @include sm {
      gap: 20px;
    }
    @include md {
      background-color: transparent;
    }
   
    .signOut {
      position: relative;
      .icon {
        background-color: red;
        width: fit-content;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        padding: 15px;
        border-radius: 100px;
        position: absolute;
        top: -12px;
        right: -12px;
      }
    }

    .userImage {
      // width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
      }
      span {
        @include sm {
          display: none;
        }
        @include md {
          display: none;
        }
        font-size: 15px;
        font-weight: 600;
      }
    }
    a {
      padding: 12px 24px;
      margin: 20px;
    }
    .signOut {
      background-color: #fece51;
    }
    .menulogo {
      display: none;
      z-index: 999;

      @include sm {
        display: initial;
      }
      img {
        width: 35px;
        height: 35px;
        object-fit: contain;
      }
    }
    .menu {
      position: absolute;
      top: 0;
      right: -2000px;
      background-color: black;
      color: white;
      height: 100vh;
      width: 50%;
      transition: all 0.5s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &.active {
        right: 0;
      }

      @include sm {
        a {
          display: initial;
          font-size: 20px;
        }
      }
    }
  }
}
